<section class='container p-2'>
  <h2 class='text-danger'>Error Page</h2>
  <p><strong>Message:</strong> {{error}}</p>
  <p><strong>Code:</strong> {{code}}</p>
  <br />
  <a
    href='/site/'
    class='btn btn-primary'
    style='background-color: black; color: white; border-color: black;'
  >
    Go back
  </a>
</section>