<footer
  class='custom-footer mt-auto'
  style='text-align: center; background-color: #f8f9fa; padding: 1rem 0; width: 100%;'
>
  <div class='container text-center'>
    <h1
      class='display-5'
      style="font-size: 3rem; margin: 0.5rem auto; text-align: center; width: fit-content; font-family: 'Times New Roman', Times, serif;"
    >
    </h1>
    <p>Contacts:
      A51642@alunos.isel.pt&nbsp;|&nbsp;A51682@alunos.isel.pt&nbsp;|&nbsp;A51690@alunos.isel.pt
      <a href='mailto:{{email}}' style='color: black;'>{{email}}</a>
    </p>
    <p>Address: Rua Conselheiro Emídio Navarro 35 Lisboa 1950-062</p>
  </div>
</footer>