<label for='groupTitle' class='form-label'> Title: </label>
<input
  type='text'
  id='groupTitle'
  class='form-control'
  name='name'
  placeholder='Enter group title'
  required
/>

<label for='groupDescription' class='form-label'> Description: </label>
<textarea
  id='groupDescription'
  class='form-control'
  name='description'
  placeholder='Enter group description'
  required
></textarea>