<div
  class='home-page d-flex flex-column align-items-center justify-content-center text-center'
  style='height: 64vh;'
>
  <h1>Welcome to Foccacia</h1>
  <p>Football Complete Clubs Api and Chelas Internet Application</p>
</div>