<section class="container p-2 bg-light shadow">
  <h2>New group:</h2>
  <form id="formNewGroup" action="/site/groups" method="POST">
    {{> groupContentForm}}
  </form>
  <div class="container p-1">
    <button id="btn-add-group" class="btn btn-primary" type="submit" form="formNewGroup" aria-label="Submit new group form" style="background-color: black; color: white; border-color: black;">
      Submit
    </button>
  </div>
</section>