<div class='container text-center mb-3'>
</div>
<form
  class='search d-flex justify-content-center align-items-center mb-3'
  id='search'
  action=''
  method='GET'
  style='gap: 10px;'
>
  <input
    type='text'
    name='{{query}}'
    class='form-control'
    placeholder='Search...'
    style='max-width: 300px; padding: 10px; border-radius: 5px; border: 1px solid #ccc;'
  />
  <button
    type='submit'
    class='btn btn-primary'
    style='background-color: black; color: white; border-color: black; padding: 10px 20px; border-radius: 5px;'
  >
    Search
  </button>
</form>